<!DOCTYPE html>
<html>

<head>
  <title>{{ title }}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <nav>
   <a href="/">Strona glowna</a>
   <a href="/users">OrderBook</a>
  </nav>
  
  <div>
    {% block login %}{% endblock %}
  </div>
  <div>
    {# miejsce w ktorym wpisujemy nasz kod w podstronach#} {% block bartek %}{% endblock %}
  </div>
</body>

</html>
